h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 32px;
}
p{
  font-size: 8px;
}
.fact-heading{
  font-size: 25px;
  
}

#carouselExampleControls{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    width: 60%;
}
.container {
     width: 100%;
  height: 100%;
}
.typewrite{
    color:Black;
    text-decoration: none;
}
.social .btn{
        background-color: #FFD96F;
            border-color: none;
}
.Rewards{
      text-align: center;
      margin: 40px;
      padding: 30px;
      margin-top: 0px;
}
.Rewards i{
    font-size: 50px;
    font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: #FFD96F;
}
.social i:hover{
background-color: brown;
}
.reward{
    margin-top: 60px;
}
.Rewards i:hover{
color: brown;
}
.orders{
      text-align: center;
      margin: 40px;
      padding: 30px;
      margin-top: 0px;
}
.orders i{
      font-size: 50px;
    font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: #FFD96F;
}
.orders i:hover{
color: brown;
}
.wrapper {
 
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
@keyframes typing {
  from {
    width: 0
  }
} 
@keyframes blink {
  50% {
    border-color: transparent
  }
}