
.nav-item{
     list-style-type: none;
     text-transform: uppercase; 
      font-family: 'Lato', sans-serif;
      font-weight: 400;
     text-align: center;
     font-size: 20px;
}
Nav i{
  color: brown;
}
Nav{
  margin-left: 160px;
}
.nav-link {
  color: brown;
}
.right{
  text-align: center;
}
.navbar{
background-color: white;
margin-left: 0px;
}
body{ margin: 0%; }
.container{
  margin-left: 0px;
}
.NavbarToggler{
background-color: black;
}

